:root {
  --background-color: #20B2AA;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
  height: 100%;
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project {
  max-width: 500px;
  max-height: 400px;
}

.photo-container > img {
  max-width: 300px;
}

.project > img {
  max-width: 200px;
}

footer > img {
  max-width: 600px;
}
