:root {
  --background-color: #20b2aa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
  height: 100%;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

main {
  flex-direction: column;
  background-color: #ffffff;
}

header,
main,
footer {
  padding: 16px;
  padding-left: 128px;
  padding-right: 128px;
}

.about-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  line-height: 1.5;
}

.about-container,
.icons-container {
  display: flex;
  gap: 16px;
}

.about-container > .icons-container {
  justify-content: end;
}

.icons-container > img {
  width: 32px;
  height: 32px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

.project {
  max-width: 500px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
}

footer {
  gap: 32px;
}

.contact {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.photo-container > img {
  width: 300px;
  height: 320px;
}

.project > img {
  width: 100%;
  height: 100%;
}

footer > img {
  width: 500px;
  height: 350px;
}

.photo-container > img,
.project,
footer > img,
.about-container {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}
